/***** FONTS *****/
@font-face {
font-family: "Lato";
src: url("fonts/Lato/Lato-Regular.ttf");
}
@font-face {
font-family: "GentiumBookBasic";
src: url("fonts/Gentium_Book_Basic/GentiumBookBasic-Regular.ttf");
}
@font-face {
font-family: "OpenSans";
src: url("fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
font-family: "YesevaOne";
src: url("fonts/Yeseva_One/YesevaOne-Regular.ttf");
}



/*** GENEREAL SETTINGS ***/

/* COULEUR gold: #dab33e */


.container {
	max-width: 1250px;
}

p, h1, h2, h3 {
	text-align: center;
	color: white;
}

a {
	font-family: GentiumBookBasic;
}

p {
	font-family: Lato;
	font-size: 14px;
}

h2{
	font-size: 36px !important;
}

h1, h2 {
	font-family: YesevaOne;
}

form label {
	font-family: OpenSans;
}
.unevenSection h1, .unevenSection h2, 
.unevenSection h3, .unevenSection label {
	color: #cc9900;
}
nav i{
	color:  #dab33e;
}

.unevenSection p{
	 color: black;
}

.menuCard p, .menuCard h3 {
	text-align: left;
}


/********************************/



/** BACKGROUNDS **/
#home {
	background-image: url(img/background/homeBg.jpg);
	background-size: cover;
}

#ingredients{
	background-image: url(img/background/ingredientsBg.jpg);
}

#reviews{
	background-image: url(img/background/reviewsBg.jpg);
}

.unevenSection {
	background-image: url(img/background/unevenBg.jpg);
	background-color: white;
	background-size: auto;
}


/** HEADER **/
header {

}

#logo img {
	height: 45px;
}

/** NAV **/
nav {
	background-color: rgba(0,0,0,0.2);
	/*height: 110px;*/
}
nav #navbarNav ul li .nav-link {
	color: white;
}

/** HOME SECTION **/
#home {
	height: 500px;
}

#home h1 {
	font-size: 60px;
}

#home .buttons a{
	color: white;
	text-transform: uppercase;
	font-family: Lato;
	font-size: 12px;
	border-radius: 0;
	padding: 10px 35px;
}

#buttonMenu {
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid #FFF;
} 
#buttonMenu:hover{
	background-color: rgba(1,1,1, 0);
	border: 1px solid #000;
}	

#buttonTable{
	background-color: rgba(1, 1, 1, 0.3);
	border: 1px solid #000;
}
#buttonTable:hover{
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #FFF;	
}

/** ABOUT SECTION **/
#about{
	height: 500px;
}

#imgDishAbout{
	height: 450px;
}
#imgCookAbout{
	height: 150px;
}

/** INGREDIENTS SECTION **/



/** MENU SECTION **/



/** RESERVATION SECTION **/


/** FOOTER **/
footer {
	background-color: black;
}


