/***** FONTS *****/
@font-face {
font-family: "Lato";
src: url("fonts/Lato/Lato-Regular.ttf");
}
@font-face {
font-family: "GentiumBookBasic";
src: url("fonts/Gentium_Book_Basic/GentiumBookBasic-Regular.ttf");
}
@font-face {
font-family: "OpenSans";
src: url("fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
font-family: "YesevaOne";
src: url("fonts/Yeseva_One/YesevaOne-Regular.ttf");
}



/*** GENEREAL SETTINGS ***/

/* COULEUR gold: #dab33e */


.container {
	max-width: 1250px;
}

p, h1, h2, h3 {
	text-align: center;
	color: white;
}


a {
	font-family: GentiumBookBasic;
}

p {
	font-family: Lato;
	font-size: 14px;
}

h2{
	font-size: 36px !important;
}

h1, h2, h3 {
	font-family: YesevaOne;
}

h3 {
	font-size: 22px !important;
}

form label {
	font-family: OpenSans;
}
.unevenSection h1, .unevenSection h2, 
.unevenSection h3, .unevenSection label {
	color: #cc9900;
}
nav i{
	color:  #dab33e;
}

.unevenSection p{
	 color: black;
}

.menuCard p, .menuCard h3 {
	text-align: left;
}


/********************************/



/** BACKGROUNDS **/
#home {
	background-image: url(img/background/homeBg.jpg);
	background-size: auto;
}

#ingredients{
	background-image: url(img/background/ingredientsBg.jpg);
	background-size: auto;
}

#reviews{
	background-image: url(img/background/reviewsBg.jpg);
	background-size: auto;

}

.unevenSection {
	background-image: url(img/background/unevenBg.jpg);
	background-color: white;
	background-size: auto;
}


/** HEADER **/
header {

}

#logo img {
	height: 45px;
}

/** NAV **/
nav {
	background-color: rgba(0,0,0,0.2);
	/*height: 110px;*/
}
nav #navbarNav ul li .nav-link {
	color: white;
}
.social a{
	margin-right: 10px;
}

/** HOME SECTION **/
#home {
	min-height: 500px;
	padding-top: 60px;
}

#home h1 {
	font-size: 60px;
}

#home .buttons a{
	color: white;
	text-transform: uppercase;
	font-family: Lato;
	font-size: 12px;
	border-radius: 0;
	padding: 10px 35px;
}

#buttonMenu {
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid #FFF;
} 
#buttonMenu:hover{
	background-color: rgba(1,1,1, 0);
	border: 1px solid #000;
}	

#buttonTable{
	background-color: rgba(1, 1, 1, 0.3);
	border: 1px solid #000;
}
#buttonTable:hover{
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #FFF;	
}

/** ABOUT SECTION **/
#about{
	min-height: 550px;
}

#imgDishAbout{
	height: 450px;
}
#imgCookAbout{
	height: 150px;
}

/** INGREDIENTS SECTION **/
#ingredients{
	min-height: 630px;
	padding: 60px;
}
.ingredientsBlock {
	background-color: rgba(0,0,0, 0.5);
	padding: 60px 60px !important;
}


/** MENU SECTION **/
#menu{
	padding: 60px;
}
.menuItemTitle{
	border-bottom: 1px solid #e3d7ac;
}
.menuItem{
	padding: 5px;
	margin: 12px 0;
}
.menuItem p {
	margin: 5px 0;
}

.special{
	border: 1px solid #e3d7ac;
}
.specialText{
	margin: 0;
	padding: 0;
}
.specialText p{
	margin-bottom: -12px;
	padding: 2px 8px;
	background-color: #dbc178;
	color: white;
	font-size: 12px;
}

/** REVIEWS SECTION **/
#reviews{
	padding: 60px;
	min-height: 600px;
}
.reviewsBox{
	background-color: rgba(0,0,0, 0.5);
	padding: 60px 60px !important;
}
.reviewSign{
	margin-top: 30px;
}
.reviewsQuotation {
	color: #969897;
	font-family: Georgia;
	font-size: 70px;
	margin-top: -32px;
	/*margin-left: -10px;*/
}
.reviewText{
	font-size: 20px !important;
}


/** RESERVATION SECTION **/
#reservation{
	padding: 60px;
	min-height: 600px;
}
.reservationImg img{
	/*max-height: 450px;*/
	width: 200px;
	/*margin: 0px 25px;*/
}
#reservation label {
	font-size: 12px;
	font-weight: bold;
}
#reservation .btn{
	background-color: #c9a131;
	color: white;
	border-radius: 0;
	padding: 3px 50px;
}
.reservationText{
	margin-top: 5px;
}


/** FOOTER **/
footer {
	background-color: black;
	padding: 60px;
}


